[Unit]
Description=Sysmon Server Service

[Service]
#User=nobody
#Group=nobody
TimeoutSec=20
Restart=on-failure
ExecStart=/opt/sysmon/server/bin/server

[Install]
WantedBy=default.target
