[Unit]
Description=Sysmon Client

[Service]
#User=nobody
#Group=nobody
TimeoutSec=20
Restart=on-failure
ExecStart=/opt/sysmon/client/bin/client -s http://10.20.30.40:9925/metrics
# Note: add '-n hostname' above, if needed

[Install]
WantedBy=default.target
