[Unit]
Description=Sysmon Client

[Service]
#User=nobody
#Group=nobody
TimeoutSec=20
Restart=on-failure
ExecStart=/opt/sysmon/client/bin/client

[Install]
WantedBy=default.target
